
	.banner {
		background-size: cover;
		background-position: center;
		padding: 120px 0;
		margin-top: 46px;
		justify-content: center;
		width: 100%;
	  }
	  
	  .banner h1 {
		margin: 0;
		color: white;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		font-size: 32px;
		font-weight: bold;
		text-align: center;
		line-height: 1.3;
	  }
	  
	  #hello {
		font-size: 80px;
	  }

	  .banner p {
		font-size: 20px;
		color: white;
		/* opacity: .7; */
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		text-align: center;
		margin-top: 17px;
		margin-bottom: 24px;
	  }


	  .banner-2 {
		background-size: cover;
		background-position: center;
		padding: 150px 20px;
		margin-top: -29px;
		justify-content: center;
		height: 30px;
		
	  }
	  
	  .banner-2 h1 {
		margin: 0;
		color: white;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		font-size: 32px;
		font-weight: bold;
		text-align: center;
		flex: auto;
		margin-top: -42px;
	  }
	  
	  .banner-2 p {
		font-size: 20px;
		color: white;
		/* opacity: .7; */
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		text-align: center;
		margin-top: 17px;
	  }

	  .banner-3 {
		background-size: cover;
		background-position: center;
		padding: 110px 20px;
		margin-top: -18px;
		justify-content: center;
		height: 30px;
		width: 100%;
		
	  }
	  
	  .banner-3 h1 {
		margin: 0;
		color: white;
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		font-size: 50px;
		text-align: center;
		flex: auto;
	  }
	  
	  .banner-3 p {
		font-size: 30px;
		color: white;
		/* opacity: .7; */
		text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		text-align: center;

		margin-bottom: 24px;
	  }

	  @media screen and (max-width: 500px) {


			.banner h1 {
				font-size: 38px;
			  }
			  
			  .banner p {
				font-size: 30px;
				color: white;
				/* opacity: .7; */
				text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
				text-align: center;
				margin-top: 35px;
				margin-bottom: 24px;
			  }

			.banner-3 {
				background-size: cover;
				background-position: center;
				padding: 120px 0;
				margin-top: 46px;
				justify-content: center;
				width: 100%
				height: auto;
			}
			
		}