  
  
  /* Main styles */
  
  main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  article {
	background-color: #fff;
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 15px;
  }
  
  article h2 {
	margin: 0;
	font-size: 28px;
	line-height: 1.2;
  }
  
  article p {
	font-size: 18px;
	line-height: 1.5;
	margin: 20px 0;
  }
  
  article figure {
	margin: 20px 0;
  }
  
  article figcaption {
	font-style: italic;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
  }
  
  article img{
	display: block;
	max-width: 70%;
	margin: 0 auto;
  }

  article img{
	display: block;
	max-width: 95%;
	margin: 0 auto;
  }

  #smartpay {
	inherits: none;
	max-width: 70%;
	margin: 0 auto;
  }

 #portlinstall {
	inherits: none;
	max-width: 70%;
	margin: 0 auto;
  }


  #spbutton {
	max-width: 50%;
  }

  @media screen and (max-width: 660px) {

	article h3 {
		font-size: 35px;
	  }

  
	  article h2 {
	  font-size: 40px;
	  text-align: center;
	}
  
	article p {
	  font-size: 29px;

	}

	article figcaption {
		font-size: 29px;
	  }


  
  }