body {
	font-family: "Segoe UI", sans-serif;
	background-color: #f8f8f8;
	margin: 0;
  }
  
  h1, h2, h3 {
	font-weight: 700;
  }
  
  a {
	color: #000;
	text-decoration: none;
  }
  
  a:hover {
	color: #666;
  }
  
  /* Header styles */
  
  header {
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
	padding: 20px;
  }
  
  h1 {
	margin: 0;
	font-size: 36px;
	line-height: 1.2;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  nav li {
	display: inline-block;
	margin-right: 20px;
  }
  
  nav a {
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
  }
  
  
  /* Main styles */
  
  main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  article {
	background-color: #fff;
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
	padding: 20px;
	margin-bottom: 40px;
	border-radius: 15px;
  }
  
  article h2 {
	margin: 0;
	font-size: 28px;
	line-height: 1.2;
  }
  
  article p {
	font-size: 18px;
	line-height: 1.5;
	margin: 20px 0;
  }
  
  article figure {
	margin: 20px 0;
  }
  
  article figcaption {
	font-style: italic;
	font-size: 14px;
	margin-top: 10px;
	text-align: center;
  }
  
  article img{
	display: block;
	max-width: 70%;
	margin: 0 auto;
  }

  article img{
	display: block;
	max-width: 95%;
	margin: 0 auto;
  }

  #smartpay {
	inherits: none;
	max-width: 70%;
	margin: 0 auto;
  }

 #portlinstall {
	inherits: none;
	max-width: 70%;
	margin: 0 auto;
  }
