.logo-card {
  overflow: hidden;
  background: white;
  width: 660px;
  border-radius: 6px;
}

.logo-card img {
  width: 100%;
  object-fit: cover;
  padding: 5px;
  margin-bottom: 15px;
}

.logo-card h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  align-items: center;
}
