.team-page-flex-display {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  margin: 30px;
}

@media screen and (max-width: 964px) {
  .team-page-flex-display {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-gap: 0px;
  }
}
